<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"
      >EpicFlix</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav" *ngIf="user">
        <a
          class="nav-link active"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="active"
          >All Movies</a
        >
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active"
          >Users</a
        >
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/profile']"
                routerLinkActive="active"
                >User details</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/favourites']"
                routerLinkActive="active"
                >Your Favourites</a
              >
            </li>
          </ul>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="user"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
      <div class="navbar-nav" *ngIf="!user">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Login</a
        >
        <a
          class="nav-link"
          [routerLink]="['/register']"
          routerLinkActive="active"
          >Register</a
        >
      </div>
    </div>
  </div>
</nav>
