<div class="container my-4 pt-4">
  <div class="row justify-content-between">
    <div class="col-6 d-flex justify-content-center" *ngFor="let car of evidenza">
      <span *ngIf="car.available">
        <div class="card bg-success-subtle border-1 border-success" style="width: 18rem">
        <img
          src="https://www.kimballstock.com/pix/car/p/{{ car.modelImage }}"
          class="card-img-top"
        />
        <div class="card-body justify-content-center">
          <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
          <div>
            <p class="card-text badge bg-success text-white me-1">
              {{ car.year }}
            </p>
            <p class="card-text badge bg-success text-white">
              {{ car.price }}&euro;
            </p>
          </div>
          <a class="btn btn-primary" [routerLink]="[car.brand]" routerLinkActive="active">Tutte le nostre {{ car.brand }}</a>
        </div>
      </div>
    </span>
    <span *ngIf="!car.available">
        <div class="card bg-danger-subtle border border-danger" style="width: 18rem">
            <img
              src="https://www.kimballstock.com/pix/car/p/{{ car.modelImage }}"
              class="card-img-top"
            />
            <div class="card-body justify-content-center">
              <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
              <div>
                <p class="card-text badge bg-danger text-black me-1">
                  {{ car.year }}
                </p>
                <p class="card-text badge bg-danger text-black">
                  {{ car.price }}&euro;
                </p>
              </div>
              <a class="btn btn-primary" [routerLink]="[car.brand]" routerLinkActive="active">Tutte le nostre {{ car.brand }}</a>
            </div>
          </div>
    </span>
      
    </div>
  </div>
</div>
