<div class="container">
    <div class="row mb-2" *ngFor="let task of tasks; let i = index">
       <span *ngIf="task.completed" class="bg-success-subtle">
        <div class="col-12">
            <input type="checkbox" id="complTask" (click)="completedTasks(task.id, i)">
            <label for="complTask">Non completato</label>
            <h4>{{task.todo}}</h4>
            <!-- <p>Assigned to: {{task.userId}}</p> -->
            <p>Assigned to: {{user.firstName}} {{user.lastName}}</p>
        </div>
        </span>    
        <span *ngIf="!task.completed" class="bg-danger-subtle">
            <div class="col-12">      
                <input type="checkbox" id="notComplTask" (click)="notCompletedTasks(task.id, i)">
                <label for="notComplTask">Completato</label>      
                <h4>{{task.todo}}</h4>
                <!-- <p>Assigned to: {{task.userId}}</p> -->
                <p>Assigned to: {{user.firstName}} {{user.lastName}}</p>
            </div>
            </span>        
    </div>
</div>