<div class="container px-5 py-3">
  <div class="bg-secondary-subtle text-center p-4 rounded-3">
    <img src="../../assets/img/logo.png" />
    <h1 class="mt-2">Il tuo autosalone di fiducia</h1>
  </div>

  <hr />

  <div class="bg-secondary-subtle text-center p-4 rounded-3">
    <h2>I nostri marchi</h2>
    <app-home-brand></app-home-brand>
  </div>

  <hr />

  <div class="bg-secondary-subtle text-center p-4 rounded-3">
    <h2>Auto in evidenza</h2>
    <app-random-home></app-random-home>
  </div>
</div>
