header {
    a {
        color: white !important;
    }
}

#navLeft,
#navRight {
    width: 50%;
}

#logo {
    width: 150px;
}

ul {
    list-style: none;

    img {
        width: 50px;
    }
}

#navImg {
    width: 50px;
}

.pointer:hover {
    cursor: pointer;
}